.box{
  border: 1px solid red;
  width: 100px;
  height: 100px;
  margin: 50px;
  padding: 50px;
}
.heading{
  border: 1px solid red;
  width: 300px;
  text-align: center;
  /* margin: 50px;
  padding: 50px; */
/*   margin: 100px 50px;
  padding: 100px 50px; */
/*   margin: 50px 100px 200px 300px; */
  padding: 50px 100px 200px 300px;
}
.boxx{
  font-size: 50px;
  text-align: center;
  border: 10px solid darkcyan;
  width: 400px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
}
.borderbox{
  border: 5px solid darkblue;
  width: 600px;
}
.borderbox div {
  border: 1px solid darkcyan ;
  width: 200px;
  height: 200px;
  float: left;
  box-sizing: border-box;
}