body {
  color: black;
}
a {
  color: black;
  text-decoration: none;
  border: 1px solid red;
  width: 300px;
  height: 200px;
  margin: 50px;
}
div {
  border: 1px solid red;
  height: 100px;
  margin: 50px;
  width: 200px;
  padding: 5px;
}
img { 
  border: 1px solid red;
  height: 50px;
  margin: 30px;
}