.parent {
  border: 5px solid red;
  width: 600px;
}
.top {
  background-color: blueviolet;
  height: 100px;
}
.left {
  background-color: cornflowerblue;
  height: 100px;
  width: 200px;
  float: left;
}
.right {
  background-color: coral;
  height: 100px;
  width: 400px;
  float: right;
}
.both {
  background-color: blueviolet;
  height: 100px;
  clear: both;
}