.parent {
  border: 1px solid red;
  width: 600px;
  height: 200px;
}
.child {
  border: 1px solid blue;
  width: 200px;
  height: 50px;
}
.box{
  border: 1px solid red;
  width: 400px;
  height: 400px;
}
.box > div{
  border: 1px solid blue;
  width: 200px;
  height: 200px;
  padding: 20px;
}
.box > div div{
  width: 50px;
  height: 50px;
  background-color: green;
}
