.custom input[type=checkbox] {
  display: none;
}
.custom label em {
  /* border: 1px solid red; */
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background: url(images/checkbox-01.png ) no-repeat;
  background-position: left center;
}
.custom input[type=checkbox]:checked + label em {
  background-position: right center;
}

.grade input[type=radio] {
  display: none;
}
.grade label {
  cursor: pointer;
}
.grade label em {
  /* border: 1px solid red; */
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background: url(images/radio-01.png) no-repeat;
  background-position: left center;
}
.grade input[type=radio]:checked + label em {
  background-position: right center;
}
.grade input[type=radio]:checked + label {
  color: palevioletred;
}