@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: 0.5s;
}
.content {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 20px;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  color: white;
  text-align: center;
  padding-top: 170px;
  transition: 0.5s;
}
.card:nth-child(1) .content {
  background: linear-gradient(to top, crimson, transparent);
}
.card:nth-child(2) .content{
  background: linear-gradient(to top, dodgerblue, transparent);
}
.card:nth-child(3) .content{
  background: linear-gradient(to top, yellowgreen, transparent);
}
.sns a {
  color: white;
  border: 1px solid white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}
.content h2 {
  font-size: 30px;
}
.content h2 span {
  display: block;
  color: gold;
  font-size: 14px;
  margin-top: 10px;
}
.card:hover .content {
  top: 0;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px #0000001a;
}