body {
  /* background-image: url(images/snow-photo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; */
  background: url(images/snow-photo.jpg) no-repeat center center fixed;
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
}
body:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.267);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.search {
  /* border: 1px solid white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.search h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}
.search input[type=text] {
  width: 300px;
  padding: 20px;
  border-radius: 40px 0 0 40px;
  border: none;
  margin-right: -6px;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
}
.search input[type=submit] {
  width: 150px;
  padding: 20px;
  border-radius: 0 40px 40px 0;
  border: none;
  outline: none;
  background-color: gold;
  cursor: pointer;
  box-sizing: border-box;
}
.search input[type=submit]:hover {
  background-color: darkgoldenrod;
}
.search input[type=text]::placeholder {
  color: black;
  font-size: 20px;
  font-style: italic;
}

