body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: black;
  text-decoration: none;
}

.login {
  /* border: 1px solid red; */
  width: 800px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(105, 102, 102, 0.349);
}
.login span {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
.login input[type=email],
.login input[type=password] {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  transition: 0.3s;
  padding-left: 40px;
}
.login input[type=email]:hover,
.login input[type=password]:hover {
  border: 1px solid dodgerblue;
  box-shadow: 0 0 15px rgba(30, 143, 255, 0.411);
}
.login input[type=email] {
  background: #fff url(images/icon-email.png) no-repeat center
  left 10px;
}
.login input[type=password] {
  background: #fff url(images/icon-lock.png) no-repeat center
  left 10px;
}
.login input[type=email]::placeholder,
.login input[type=password]::placeholder {
  opacity: 1;
  transition: 0.3s;
}
.login input[type=email]:focus::placeholder,
.login input[type=password]:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}
.login p {
  /* border: 1px solid red; */
  overflow: hidden;
}
.login p label {
  float: left;
  cursor: pointer;
}
.login p a {
  float: right;
}
.login p a:hover {
  text-decoration: underline;
}
.login button {
  background-color: royalblue;
  width: 300px;
  padding: 10px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.login button:hover {
  background-color: rgb(54, 87, 187);
}

