@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  background-color: #eee;
}

.tab-inner {
  /* border: 1px solid red; */
  width: 700px;
  margin: 50px auto;
}
.tab-btn {}
.tab-btn a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;
  display: inline-block;
  width: 130px;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
  border-top: 3px solid transparent;
  font-size: 15px;
}
.tab-btn a:hover {
  color: royalblue;
}
.tab-btn a.active {
  color: royalblue;
  border-top: 3px solid royalblue;
  background-color: white;
}
.tab-content {
  position: relative;
}
.tab-content div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  box-sizing: border-box;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.tab-content div img {
  width: 100%;
}
.tab-content div:target {
  opacity: 1;
  visibility: visible;
}
.tab-content:nth-child(1) {
  opacity: 1;
  visibility: visible;
}