@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: "Libre Baskerville", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.heading {
  font-size: 8em;
  text-transform: uppercase;
  margin: 0;
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  /* 크롬브라우저, 엣지 */
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;  /* 파이어폭스 */
}