@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  color: #222;
  margin: 0;
  background-color: #eee;
}
a {
  text-decoration: ;
  color: #222;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section article {
  /* border: 1px solid red; */
  width: 980px;
  height: 500px;
}
.heading {
  /* border: 1px solid black;
  height: 100px; */
  text-align: center;
}
.heading span {
  color: crimson;
  font-size: 24px;
}
.heading h1 {
  font-weight: normal;
  font-size: 33px;
  margin-top: 20px;
}
.heading h1 em {
  font-style: normal;
  /* border: 1px solid black; */
  position: relative;
}
.heading h1 em:after {
  position: absolute;
  content: url(image/logo-kakao.png);
  top: -55%;
  left: 85%;
}
.content {}
.content > div {
  /* border: 1px solid blue; */
  width: 50%;
  height: 400px;
  float: left;
  box-sizing: border-box;
}
.accordion {}
.title {
  background-color: #ddd;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  padding-left: 15px;
  transition: 0.3s;
  margin-bottom: 10px;
  /* position: relative; */
}
.title:after {
  content: '\f105';
  font-family: fontawesome;
  /* position: absolute;
  left: 95%;
  top: 30%; */
  float: right;
  margin-right: 5px;
  margin-top: 3px;
  transition: 0.3s;
}
.title.active,
.title:hover {
  background-color: #36465d;
  color: white;
  padding: 10px;
}
.title.active:after {
  transform: rotate(90deg);
  color: orange;
}
.desc {
  background-color: white;
  line-height: 1.8em;
  margin-top: 10px;
  padding: 15px;
  display: none;
}
.desc.active {
  display: block;
}
.image {}

