@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section article {
  /* border: 1px solid black; */
  width: 980px;
  height: 500px; 
}
.heading {
  /* border: 1px solid blue; */
  height: 100px;
  text-align: center;
}
.heading span {
  color: crimson;
  font-size:23px;
}
.heading h1 {
  font-weight: normal;
  font-size: 32px;
  margin-top: 15px;
}
.heading h1 em {
  font-style: normal;
  position: relative;
  /* border: 1px solid black; */
}
.heading h1 em:before {
  position: absolute;
  content: url(image/logo-kakao.png);
  left: 85%;
  top: -60%;
}
.content {
  margin-top: 20px;
}
.content > div {
  /* border: 1px solid red; */
  height: 400px;
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.title {
  padding: 10px;
  background-color: #ddd;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 10px;
}
.title:after {
  content: '\f105';
  font-family: fontawesome;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}
.title:hover,
.title.active {
  background-color: #36465d;
  padding: 10px;
  color: white;
}
.title.active:after {
  transform: rotate(90deg);
  color: orange;
}
.desc {
  padding: 15px;
  line-height: 1.8em;
  display: none;
}
.desc.active {
  display: block;
}