body {
  line-height: 1.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #DCE358, #45B649);
}
a {
  text-decoration: none;
  color: #222;
}
.gnb {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}
.gnb a{
  /* border: 1px solid red; */
  display: inline-block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  overflow: hidden;
}
.gnb a span{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.3s;
}
.gnb a span:nth-child(1) {
  top: 0;
  left: 0;
}
.gnb a span:nth-child(2) {
  top: 100%;
  left: 0;
  color: #45B649;
}
.gnb a:hover span:nth-child(1) {
  top: -100%;
  left: 0;
}
.gnb a:hover span:nth-child(2) {
  top: 0;
  left: 0;
}