body {
  line-height: 1.5em;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
.skill-progress {
  width: 500px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  color: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.301);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.skill-progress h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: normal;
}
.item {}
.item p {
  /* border: 1px solid white; */
  margin-bottom: 5px;
  overflow: hidden;
}
.item p span:nth-child(1) {
  float: left;
}
.item p span:nth-child(2) {
  float: right;
}
.progress {
  border: 1px solid #6cd4c4;
  padding: 5px;
  border-radius: 3px;
}
.progress-level {
  height: 10px;
  background: linear-gradient(to right, crimson, gold );
  animation-name: ani;
  animation-duration: 1s;
}
@keyframes ani {
  0% {
    width: 0;
  }
}