body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tab-inner {
  /* border: 1px solid red; */
  width: 300px;
  height: 350px;
  position: relative;
  overflow: hidden;
}
input[name=tabmenu] {
  display: none;
}
.content {
  /* display: none; */
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -50px;
}
.btn {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.btn label {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 3px;
}

input[id=tab1]:checked ~ .slide1,
input[id=tab2]:checked ~ .slide2,
input[id=tab3]:checked ~ .slide3 {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  left: 0;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
  background-color: crimson;
}

.text1,
.text2,
.text3 {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: crimson;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  box-sizing: border-box;
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.5s;
}
.text1 span,
.text2 span,
.text3 span {
  display: block;
  font-size: 20px;
}
.text2 {
  background-color: dodgerblue;
}
.text3 {
  background-color: yellowgreen;
}

input[id=tab1]:checked ~ .heading .text1,
input[id=tab2]:checked ~ .heading .text2,
input[id=tab3]:checked ~ .heading .text3 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}