body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tab-inner {
  /* border: 1px solid red; */
  width: 300px;
  height: 350px;
}
input[name=tabmenu] {
  display: none;
}
.slide {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.slide-inner {
  position: absolute;
  width: 900px;
  font-size: 0;
  transition: 0.5s;
}
.btn {
  text-align: center;
  margin-top: 10px;
}
.btn label {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

input[id=tab1]:checked ~ .slide .slide-inner {
  left: 0;
}
input[id=tab2]:checked ~ .slide .slide-inner {
  left: -300px;
}
input[id=tab3]:checked ~ .slide .slide-inner {
  left: -600px;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
  background-color: crimson;
}