body {
  margin: 0;
}
.tab-inner {}
input[name=tabmenu] {
  display: none;
}
.tabs {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.items {
  /* border: 1px solid red; */
  width: 300%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.items div {
  /* border: 1px solid blue; */
  width: 33.33333%;
  float: left;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}
.items div:nth-child(1) {
  background: url(images/photo-01.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.items div:nth-child(2) {
  background: url(images/photo-02.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.items div:nth-child(3) {
  background: url(images/photo-03.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.items div:nth-child(1):before {
  content: '';
  background: linear-gradient(135deg, gold, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
}
.items div:nth-child(2):before {
  content: '';
  background: linear-gradient(135deg, crimson, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
}
.items div:nth-child(3):before {
  content: '';
  background: linear-gradient(135deg, dodgerblue, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
}
.items div h1 {
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: relative;
  text-align: center;
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.btn {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.37);
}
.btn label {
  /* width: 50px;
  height: 5px;
  background-color: white; */
  display: inline-block;
  cursor: pointer;
  color: white;
  margin: 0 10px;
  line-height: 50px;
  transition: 0.3s;
}
input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
  color: crimson;
}
input[id=tab1]:checked ~ .tabs .items {
  left: 0;
}
input[id=tab2]:checked ~ .tabs .items {
  left: -100%;
}
input[id=tab3]:checked ~ .tabs .items {
  left: -200%;
}

input[id=tab1]:checked ~ .tabs .items div:nth-child(1) h1 {
  transform: translateY(100px);
  opacity: 1;
}
input[id=tab2]:checked ~ .tabs .items div:nth-child(2) h1 {
  transform: translateY(100px);
  opacity: 1;
}
input[id=tab3]:checked ~ .tabs .items div:nth-child(3) h1 {
  transform: translateY(100px);
  opacity: 1;
}